<!DOCTYPE html>
<html ng-app="challengeApp"> 
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="/css/challenges.css" rel="stylesheet">
  </head>
  <body>

      <!-- Meetups View -->
      <div ng-controller="challengesController">
      <div class="background">
        <div class="challengesList">
          <h3>{{challenges.length}} Challenges</h3>
          <form ng-submit="createChallenge()">
            <input type="text" placeholder="challenge name" ng-model="challengeName"></input>
            <button type="submit">Add</button>
          </form>
          <ul>
            <li ng-repeat="challenge in challenges" ng-click="setChallenge(challenge)">
              {{challenge.name}}
            </li>
          </ul>
        </div>
        <div class="writingBackground">
          <div class="challengeData">
            <h3 ng-model="challengeName">{{challenge.name}}</h3>
            <form ng-submit="updateChallenge(id)">
            <textarea rows="10" >{{challenge.description}}</textarea>
            <button type="submit">Update</button>
            </form> 
          </div> 
        </div>
      </div>  
      </div>



      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>
      <script type="text/javascript" src="/js/app.js"></script>
      <script type="text/javascript" src="/js/controllers/challenges-controller.js"></script>
  </body>
</html>

<!-- https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js -->