<!DOCTYPE html>
<html ng-app="challengeApp"> 
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

      <!-- Meetups View -->
      <div ng-controller="challengesController">
        <h1>There are {{challenges.length}} ToDos</h1>
        <ul>
          <li ng-repeat="challenge in challenges">
            {{challenge.name}}: {{challenge.description}}
          </li>
        </ul>
        <form ng-submit="createChallenge()">
          <input type="text" placeholder="toDo name" ng-model="challengeName"></input>
          <input type="text" placeholder="toDo description" ng-model="challengeDescription"></input>
          <button type="submit">Add</button>
        </form> 
      </div>

      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>

      <script type="text/javascript" src="/js/app.js"></script>
      <script type="text/javascript" src="/js/controllers/challenges-controller.js"></script>
  </body>
</html>

<!-- https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js -->